/.expo
/node_modules
my-app/package-lock.json
my-app/package.json
my-app/package-lock.json
my-app/package.json
backend/friendventure.db
backend/__pycache__/database.cpython-314.pyc
*.pyc
backend/friendventure.db
backend/__pycache__/database.cpython-314.pyc
backend/__pycache__/database.cpython-314.pyc
